<!DOCTYPE html>
<html>
@model bkc_backend.RazorEmail.ViewModels.EmailNotifyViewModel
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 50%;
            table-layout: fixed;
        }

            table caption {
                font-size: 1.5em;
                margin: .5em 0 .75em;
            }

            table tr {
                /*border: 1px solid #ddd;*/
                padding: .35em;
            }

            table th,
            table td {
                padding: .625em;
                text-align: left;
                border: 1px solid;
            }

            table th {
                font-size: .85em;
                letter-spacing: .1em;
                text-transform: uppercase;
            }

        @@media screen and (max-width: 600px) {
            table {
                border: 1px solid #ccc;
                border-collapse: collapse;
                margin: 0;
                padding: 0;
                width: 100%;
                table-layout: fixed;
            }

                table caption {
                    font-size: 1.5em;
                    margin: .5em 0 .75em;
                }

                table tr {
                    /*border: 1px solid #ddd;*/
                    padding: .35em;
                }

                table th,
                table td {
                    padding: .625em;
                    text-align: left;
                    border: 1px solid;
                }

                table th {
                    font-size: .85em;
                    letter-spacing: .1em;
                    text-transform: uppercase;
                }
        }
    </style>
</head>

<body>
    <p>
        Dear <strong>Huy</strong>
    </p>
    <table>
        <tbody>
            <tr>
                <td><strong>THÔNG TIN ĐIỀU XE</strong></td>
                <td><strong>NGÀY: @Model.Booker.StartDate</strong></td>
            </tr>
            <tr>
                <td>Tên Tài Xế - Số Điện Thoại</td>
                <td>
                    <ul>
                        @foreach (var item in Model.Drivers)
                        {
                            <li>@item.DriverName - @item.DriverPhone</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Biển Số</td>
                <td>
                    <ul>
                        @foreach (var item in Model.Drivers)
                        {
                            <li>@item.CarNumber</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Ngày Đi</td>
                <td>@Model.Booker.StartDate</td>
            </tr>
            <tr>
                <td>Điểm Xuất Phát - Điểm Đến</td>
                <td>HCM - HN</td>
            </tr>
        </tbody>
    </table>
    @foreach (var item in Model.Drivers)
    {
        <table>
            <tbody>
                <tr>
                    <td><strong>THÔNG TIN CHO TÀI XẾ</strong></td>
                    <td><strong>NGÀY: @Model.Booker.StartDate.</strong></td>
                </tr>
                <tr>
                    <td>Người Đặt Xe - Số Điện Thoại</td>
                    <td>@Model.Booker.BookerName - @Model.Booker.BookerPhone</td>
                </tr>
                <tr>
                    <td>Ngày Đón</td>
                    <td>
                        @Model.Booker.StartDate
                    </td>
                </tr>
                <tr>
                    <td>Địa Điểm Đón</td>
                    <td>
                        <ul>
                            @foreach(var i in item.Locations)
                            {
                                <li>@i.Time - @i.Place </li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Số Người Trên Xe</td>
                    <td>@Model.Booker.TotalParticipant</td>
                </tr>
                <tr>
                    <td>Ghi Chú</td>
                    <td>Không</td>
                </tr>

            </tbody>
        </table>
    }

</body>
</html>